<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gcs - @ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <header>
        <h4>E & G CONSTRUCCIONES SAS</h4>
    </header>
     
    <section id="contenedoruno">
        <nav>
            <ul>
                <li><a href="/Home">Home</a></li>
                <li><a href="/Negocio">Negocio</a></li>
                <li><a href="/Venta">Venta</a></li>
                <li><a href="/Personal_Interno">Personal Interno</a></li>
                <li><a href="/Personal_Externo">Personal Externo</a></li>
                <li><a href="/Contabilidad">Contabilidad</a></li>
                <li><a href="/Almacen">Almacén</a></li>
                <li><a href="/Configuracion">Configuración</a></li>
            </ul>
        </nav>
    </section>

    <section id="contenedordos">
        @RenderBody()
    </section>
    <footer>
        &copy; @DateTime.Now.Year - Gcs Sistema de gestión y control</p>
    </footer>





    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                    </ul>
                </div>
            </div>
        </div>*@

    <!--<div class="container body-content">-->
       
        @*<hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
    <!--</div>-->

    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>